/* Main body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9f9f9;
}

h6 {
    margin-top: 0;
}

.app__content {
    display: flex;
    margin-top: 1%;
    color: #f9f9f9;
    border-radius: 0.55rem;
}

#footer {
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid #0C2343;
}

#ubc-logo {
    padding: 0px 0px 0px 30%;
}

#deetken-logo {
    padding: 1% 0px 1% 3%;
    justify-content: center;
}


/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#tab0.custom-tab, #tab1.custom-tab,
#tab2.custom-tab, #tab3.custom-tab, 
#info-tab, #model-inputs-tab {
    background-color: #f9f9f9;
    letter-spacing: 1px;
    color: #0C2343;
    border: 0;
    border-bottom: #0C2343 solid 1px !important;
    border-top: #0C2343 solid 1px !important;
    border-left: #0C2343 solid 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
}

#info-tab, #model-inputs-tab {
    height: 10px;
    padding: 6% 5% 6% 5%;
}

#tab3.custom-tab, #model-inputs-tab {
    border-right: #0C2343 solid 1px !important;
}

#mainTabs.tab--selected,
#tab0.tab--selected, #tab1.tab--selected,
#tab2.tab--selected, #tab3.tab--selected,
#info-tab.tab--selected, #model-inputs-tab.tab--selected {
    font-weight: bold; 
    color: #0C2343 !important;
    background-color: #B9C7E1;
}

/* Dropdowns, Inputs, and Sliders
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.div-for-dropdown {
    padding: 5px 5px 5px 5px;
    color: black;
}

.div-for-dropdown3 {
    padding: 5px 5px 5px 5px;
    width: 95%;
    color: black;
    border-radius: 0rem;
}

.div-for-input {
    padding: 5px 5px 5px 5px;
    color: white;
    border-color: white;
    border: 0;
}

#businessname-input3, #lat-input3,
#lon-input3, #fee-input3,
#employee-input3 {
    width: 95%;
    height: 28px;
}

.div-for-slider {
    width: 100%;
    text-align: center;
    color: white;
    padding: 0px 0px 0px 0px;
}

.div-for-slider3 {
    width: 99%;
    text-align: left;
    color: white;
    padding: 0px 0px 0px 0px;
}

#year-slider3 {
    width: 85%;
}

#clearButton {
    font-size: 1em;
    text-align: center;
    color: white;
    padding: 5px 5px 5px 5px;
    background-color: #52527a;
    cursor: pointer;
    border-radius: 0.55rem;
    margin: 0px;
}

.info-icon {
    float: right;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
    margin: -2.4rem 0rem 0rem 0rem;
  }

.tab3-info-titles {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    padding: 0% 3% 0% 3%;
}

.tab3-info-texts {
    padding: 0% 3% 0% 3%;
}

/* Graphs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.graph__title {
    color: white !important;
    margin-top: 0;
    margin-bottom: 10px !important;
    font-size: 1em;
    text-align: left;
  }

.map__slider__container {
    height: 92%;
    margin-top: 1%;
    background-color: #52527a;
    border-radius: 0.55rem;
    padding: 0px 0px 0px 0px;
}

.map__slider__container3 {
    height: 550px;
    margin-top: 1%;
    background-color: #52527a;
    border-radius: 0.55rem;
    padding: 0px 0px 0px 0px;
}

#model-map {
    height: 92%;
}

.user__control__panel {
    margin-top: 1%;
    background-color: #f9f9f9;
    border-radius: 0.55rem;
    color: white;
}

#confusion-matrix {
    padding: 5% 5% 5% 5%;
}

.bottom__box{
    background-color: #52527a;
    border-radius: 0.55rem;
    padding: 1% 1% 1% 1%;
    color: #ffffff;
}

.bottom__box__tab2{
    background-color: #52527a;
    border-radius: 0.55rem;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
}

#localarea-map {
    height: 100%;
    justify-content: center;
    background-color: #52527a;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    background-color: #52527a;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.first {
    height: flex;
    padding: 0.5px 0.5px 1%;
    color: white;
}

.second {
    height: 280px;
    padding: 2% 2%;
    margin-top: 3%;
}

.third {
    height: 550px;
    padding: 0px 0px 0px 0px;
    color: white;
}

.fourth {
    height: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Modal info layer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
    position: fixed;
    z-index: 1002; /* Sit on top, including modebar which has z=1001 */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6); 
}

.modal-content {
    z-index: 1004; /* Sit on top, including modebar which has z=1001 */
    position: fixed;
    left: 0;
    width: 60%;
    background-color: #52527a; 
    color: white;
    border-radius: 5px;
    margin-left: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
    top: 0;
}

.modal-content > div {
    text-align: left;
    margin: 15px;
}

#show-model-modal {
    margin-left: 50%;
}